{% extends 'base2.html' %}

{% block title %}Shop - Movie Store{% endblock %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container text-center text-white">
        <h1 class="display-4 fw-bolder">Rent in Style</h1>
        <p class="lead fw-normal text-white-50 mb-0">Movies and More</p>
    </div>
</header>

<!-- Movies Grid -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
            <!-- More Movies - Dynamic Movie List -->
            {% for movie in movies %}
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top movie-img" src="{{ url_for('static', filename='images/' ~ movie.image) }}" alt="{{ movie.name }}">
                    <div class="card-body text-center">
                        <h5 class="fw-bolder">{{ movie.name }}</h5>
                        <p>${{ movie.price }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-dark" onclick="addToCart('{{ movie.name|escape }}', {{ movie.price }})">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/cart.js') }}" defer></script>
{% endblock %}
